# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Logs
*.log

# Diretórios de build e cache
dist/
build/
.cache/
tmp/

# .env
.env

# Docker
docker-compose.yml
.docker/
*.docker

# Redis
dump.rdb
*.rdb

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp

# Testes
coverage/"node_modules/" 
